body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px; /* Adjust the border-radius as needed */
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    background-color: green;
}


.flex-item .blog-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0; /* Rounded corners at the top */
}

.flex-item .blog-image {
    width: 200px;
}

.flex-item span {
    display: block;
    margin-bottom: 5px;
}

.flex-item .blog-space-name {
    font-weight: lighter;
}

.overlay {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.blog-title {
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-link {
    cursor: pointer;
}

.blog-details {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background for details */
}
