body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.flex-item {
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    /* Adjust the border-radius as needed */
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    background-color: #353b36;
}


.flex-item .blog-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    /* Rounded corners at the top */
}

.flex-item .blog-image {
    max-width: 100%;
}

.flex-item span {
    display: block;
    margin-bottom: 5px;
}

.flex-item .blog-space-name {
    font-weight: lighter;
}

.overlay {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.blog-title {
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-link {
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
}

.blog-details {
    padding: 0 0.25rem;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background for details */
}

.button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}